<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connector setup | Facebook Hubspot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-app="fb-hs">
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{ appId }}',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="container" ng-controller="MainCtrl">
    <h2>Facebook Hubspot</h2>
    <h3>Connector setup</h3>
    <br><br>

    <button class="btn btn-primary" ng-show="!login" ng-click="fbLogin()">Login with Facebook</button>

    <p ng-show="pages.data">Click on a page name to make the app subscribe to the events from that page</p>
    <ul>
      <li ng-repeat="item in pages.data">
        <a href="" ng-click="subscribe(item)">[[ item.name ]]</a>
      </li>
    </ul>
    <br><br>

    <div ng-show="token" style="word-break: break-word;">
      <h3>Your access token is:</h3>
      [[ token ]]
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script>
    angular.module('fb-hs', [])
    .config(['$interpolateProvider',function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[').endSymbol(']]');
    }])
    .controller('MainCtrl', function ($scope, $timeout) {

      $scope.fbLogin = function () {
        // Only works after `FB.init` is called
        FB.login(function (res) {
          console.log('Login', res);
          $timeout(function () {
            $scope.login = res;
          });

          FB.api('/me/accounts', function (res) {
            console.log('Pages', res);
            $timeout(function () {
              $scope.pages = res;
            });
          });
        },
        {
          scope: 'manage_pages'
        });
      };

      $scope.subscribe = function (page) {
        if(!window.confirm('Are you sure?')) {
          return;
        }
        console.log('Subscring to the app', page);

        FB.api(
          '/' + page.id + '/subscribed_apps',
          'post',
          {
            access_token: page.access_token
          },
          function (res) {
            console.log('Subscribed... ', res);
            window.alert('Success. Check console for more info.');

            $timeout(function () {
              $scope.token = page.access_token;
            });
          }
        );
      };
    });
  </script>
</body>
</html>
